# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

**Objectives**
* Python
* R
* Pandas
* Java
* Jupyter Notebooks

## Author
Awais Ejaz

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335